body 
{
    background: yellow;
    padding: 0;
    margin: 0;
}

#first /*верхняя часть*/
{
	background-image: url(site.png);
    background-repeat: no-repeat;
	height: 655px;
	width: 100%;
    margin: 0;
    padding: 0;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

#name /*на верхней части*/
{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 200px;
}

ul 
{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #330;
}

.sidebarBlockTitle /*меню слева*/
{
    padding-top: 25%;
}

#holovna  /*про нас сверху*/
{
    padding-left: 33%;
}

#contact /*контакты сверху*/
{
    padding-right: 10%;
}
	
#top-menu ul /*верхние ячейки*/
{
    width: 100%;
    list-style-type: none;
    margin: 0;
    /*padding-left: 250px;*/
    overflow: hidden;
    background-color: #333;

    padding-top: 10px;
    padding-bottom: 10px;
}

#second /*слева*/
{
    width: 25%;
    float: left;
}

.userColumn .columnLeft  /*слева*/
{
    float: left;
    width: 25%;
    position: relative;
    /*padding-bottom: 8px;*/
}

.sidebarBlockTitle   /*Меню слева*/
{
    background: red;
    font-size: 25px;
    height: 45px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}


#top-menu   /*верхняя панель*/ 
{
    position: fixed;
    width: 100%;
    height: 200px;
}

#third  /*справа ячейка*/
{
    /*margin-left: 250px;*/
    background: #333;
    float: left;
    width: 75%;
    padding: 0;
}

#main_inf  /*справа текст*/
{
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 20px;
    height: 714px;
}

#name-3
{
    color: white;
    font-size: 45px;
    text-align: left;
    padding-left: 25px;
}

#info
{
    padding-top: 20px;
    padding-left: 25px;
    font-size: 30px;
    color: white;
    text-align: left;
}


#forth
{
    color: white;
    background-color: #337;
    padding-left: 15px;
    height: 600px;
    float: left;
    width: 100%;

}

#detals a
{
    color: red;
    font-size: 30px;
    padding-left: 25px;
}

/*#katalog
{
    padding-top: 20px;
}*/

#menu-categories-title
{
    padding-top: 20px;
    padding-bottom: 20px;
}


















li 
{
    /*padding-left: 250px;*/
    float: left;
}

li a, dropbtn 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.dropbtn
{
    /*padding-left: 65px;
    padding-right: 65px;*/
    font-size: 20px;
    /*float: right;*/
}

#top-menu ul a
{
    /*padding-left: 65px;
    padding-right: 65px;*/
    font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn 
{
    background-color: #111;
}

.active 
{
    background-color: #4CAF50;
}

li.dropdown
{
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    background: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content 
{
    display: block;

    margin-top: 10px;
}

#second li 
{
    margin-left: 0;
}


.subgroup
{
    width: 100%;
}

.subgroup a
{
    text-align: center;
}

.company 
{
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.cont_user
 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
 }

.cont_phone
 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;

 }

.mail
 {
    font-size: 16px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
 }

.cont_adress
 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;

 }
.cont_grafic
{
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
}
.map
{
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
}

hr 
{
    border-color: orange;
    border-width: 3px;
    width: 350px;
    align-self: center;
}

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */