body 
{
    background: yellow;
    padding: 0;
    margin: 0;
}

/*ОБЩИЕ*/

ul 
{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F4F4F;
    text-align: center;
}

li 
{
    float: left;
}



/*КОНЕЦ ОБЩИЕ*/


/*ВЕРХНЯЯ ЧАСТЬ*/

#holovna  /*про нас сверху*/
{
    padding-left: 33%;
}

#contact /*контакты сверху*/
{
    padding-right: 10%;
}
    
#top-menu ul /*верхние ячейки*/
{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*padding-top: 10px;*/
    /*padding-bottom: 1px;*/
}

#top-menu   /*верхняя панель*/ 
{
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;
}



li a, .dropbtn   /*про нас  контакты*/
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.dropbtn {         /*товари послуги*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#top-menu ul a
{
    font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn 
{
    background-color: #333;
}

.active 
{
    background-color: #ff000f;
}

li.dropdown
{
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*padding-top: 5px;*/
    /*padding-bottom: 10px;*/
    z-index: 2;
}

.dropdown-content a 
{
    color: black;
    /*background: white;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content 
{
    display: block;
    /*margin-top: 10px;*/
}

.dropdown:hover .dropbtn {
    background-color: #333;
}

/*КОНЕЦ ВЕРХНЕЙ ЧАСТИ*/

/*ОСНОВНАЯ СТРАНИЦА*/

hr 
{
    border-color: orange;
    border-width: 4px;
    width: 450px;
    align-self: center;
}

#first 
{
    background-image: url(site.png);
    background-repeat: no-repeat;
    height: 655px;
    width: 100%;
    margin: 0;
    padding: 0;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

#name /*на верхней части*/
{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 0;
    padding-top: 200px;
}

/*КОНЕЦ ОСНОВНОЙ СТРАНИЦЫ*/



/*МЕНЮ СЛЕВА*/

.sidebarBlockTitle 
{
    padding-top: 25%;
    /*padding-bottom: 40px;*/
}

#second /*слева*/
{
    width: 25%;
    float: left;
}

.userColumn .columnLeft  /*слева*/
{
    float: left;
    width: 25%;
    position: relative;
    /*padding-bottom: 8px;*/
}

#second li 
{
    margin-left: 0;
}

.sidebarBlockTitle   /*Меню слева*/
{
    background: #333;
    color: white;
    font-size: 25px;
    height: 45px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.subgroup
{
    width: 100%;
}

.subgroup a
{
    text-align: center;
}

.company 
{
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.cont_user
 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
 }

.cont_phone
 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;

 }

.mail
 {
    font-size: 16px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
 }

.cont_adress
 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;

 }
.cont_grafic
{
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
}
.map
{
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
    /*border-right: 1px solid black; */
}
/*КОНЕЦ МЕНЮ СЛЕВА*/



/*ТРЕТЬЯ ЧАСТЬ*/

#third  /*справа ячейка*/
{
    /*margin-left: 250px;*/
    background-color: #586857;
    float: left;
    width: 75%;
    font-color: black;
    /*padding: 0;*/
    padding: 2%;
    height: 100%;
    /*padding-bottom: 68px;*/
}

#main_inf  /*справа текст*/
{
    /*padding-top: 41px;*/
    margin: 1.1%;
    padding: 1%;
    /*padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;*/
    height: 100%;
    background-color: #698B69;
    font-color: black;
}

#name-3
{
    color: black;
    font-size: 45px;
    text-align: left;
    padding-left: 25px;
}

#info
{
    padding-top: 20px;
    padding-left: 25px;
    font-size: 30px;
    color: black;
    text-align: left;
}

#detals a
{
    color: white;
    font-size: 30px;
    padding-left: 25px;
}
 /*КОНЕЦ ТРЕТЬЯ ЧАСТЬ*/



/* MENU CATEGORIES PAGE */

#forth
{
    /*margin-top: 25px;*/
    color: white;
    background-color: #333;
    padding-left: 15px;
    height: 600px;
    float: left;
    width: 100%;
}

#menu-categories-title
{
    padding-top: 20px;
    padding-bottom: 20px;
}


.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
  }

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */


/*ПРЕИМУЩЕСТВА И ЗАКАЗ*/
#fifth
{
    color: white;
    background-color: #586857;
    padding-left: 15px;
    height: 600px;
    float: left;
    width: 100%;
    padding-top: 15px;
}

#car
{
    height: 120px;
    width: 120px;
    background-color: orange;
    padding-left: 7px;
    padding-top: 10px;
    float: left;
}

#car-2
{
    /*float: left;*/
    height: 20px;
    width: 350px;
    font-size: 23px;
    padding: 10px;
    font-weight: 600px;
    /*padding-left: 120px;*/

}

#car-3
{
    /*float: left;*/
    height: 20px;
    width: 350px; 
    padding: 10px;
    padding-top: 25px;
    font-size: 18px;   
}

#opis
{
    float: left;
}

#first-img
{
    clear: left;
    padding-top: 20px;
}

#second-img
{
    clear: left;
    padding-top: 20px;
}

#third-img
{
    clear: left;
    padding-top: 20px;
}

#preim
{
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 42%;
    float: left;
    background: #2F4F4F;
    margin-top: 35px;
}

#zagl
{
    font-size: 30px;
    text-align: center;
    padding-right: 100px;
}

#zakaz
{
    width: 57%;
    height: 512px;
    background: #698B69;
    float: left;
    padding-right: 70px;
    padding-top: 25px;
    margin-right: 10px;
    margin-top: 35px;
}

#zakaz-1
{
    font-size: 35px;
    padding-left: 25px;
    color: black;
}

#zakaz-2
{
    font-size: 23px;
    padding-left: 25px;
    color: black;
}

form
{
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-left: 60px;
    float: left;
    color: black;
    font-size: 18px;
    padding-top: 10px;
    border: 2px solid black;
}


/*КОНЕЦ ПРЕИМУЩЕСТВА И ЗАКАЗ*/


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #333;
  border-top: 0;
  color: white;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



@media screen and (max-width: 1200px) {
 
}
 
@media screen and (max-width:992px) {
 
}
 
@media screen and (max-width: 768px) {
 
}
 
@media screen and (max-width:480px) {
 
}